@page  "/"
@model Dog_Grooming_Salon.Pages.Dogs.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<form asp-page="./Index" method="get">
<div class="form-actions no-color">
<p>
Find by Owner / Dog Name:
<input type="text" name="SearchString" value="@Model.CurrentFilter" />
            <input type="submit" value="Search" class="btn btn-primary" /> |
            <a asp-page="./Index">Back to full List</a>
        </p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.AppointmentDateSort">
                @Html.DisplayNameFor(model => model.Dog[0].Name)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dog[0].Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dog[0].Owner.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dog[0].DogGenders)
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.AppointmentDateSort">
                @Html.DisplayNameFor(model => model.Dog[0].AppointmentDate)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dog[0].AppointmentHour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dog[0].Breed.BreedName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dog[0].Service.ServiceName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.DogD.Dogs)
        {
            string selectedRow = "";
            if (item.ID == Model.DogID)
            {
                selectedRow = "table-success";
            }
            <tr class="@selectedRow">
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Owner.FullName)
            </td>
            <td>
                    @{
                        foreach (var gender in item.DogGenders)
                        {
                            @gender.Gender.ID @: @gender.Gender.GenderName <br />
                        }
                    }
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.AppointmentDate)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.AppointmentHour)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Breed.BreedName)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Service.ServiceName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
